# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
DerivedData

/MotionAbleton/DerivedData/MotionAbleton/Build/Intermediates/MotionAbleton.build/Release/MotionAbleton.build/build-state.dat
/MotionAbleton/DerivedData/MotionAbleton/Build/Intermediates/MotionAbleton.build/Release/MotionAbleton.build/MotionAbleton-project-headers.hmap
/MotionAbleton/DerivedData/MotionAbleton/Build/Intermediates/MotionAbleton.build/Release/MotionAbleton.build/MotionAbleton.dep
/MotionAbleton/DerivedData/MotionAbleton/Build/Intermediates/MotionAbleton.build/Release/MotionAbleton.build/MotionAbleton.hmap
/MotionAbleton/DerivedData/MotionAbleton/Build/Intermediates/MotionAbleton.build/Release/MotionAbleton.build/Objects-normal/i386/MotionAbleton_dependency_info.dat
/MotionAbleton/DerivedData/MotionAbleton/Index/Release/macosx10.9-i386/MotionAbleton.xcindex/db.xcindexdb
/MotionAbleton/DerivedData/MotionAbleton/Index/Release/macosx10.9-i386/MotionAbleton.xcindex/db.xcindexdb-shm
/MotionAbleton/DerivedData/MotionAbleton/Index/Release/macosx10.9-i386/MotionAbleton.xcindex/db.xcindexdb-wal
/MotionAbleton/DerivedData/MotionAbleton/Index/Release/macosx10.9-i386/MotionAbleton.xcindex/db.xcindexdb.strings-file
/MotionAbleton/DerivedData/MotionAbleton/Index/Release/macosx10.9-i386/MotionAbleton.xcindex/db.xcindexdb.strings-res
/MotionAbleton/DerivedData/MotionAbleton/Index/Release/macosx10.9-i386/MotionAbleton.xcindex/db.xcindexdb.strings-sym
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/0702FCDB-68E1-469E-837C-0D4909E402F1.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/0B5948FC-0CC9-4B0F-A230-F7C8515164B9.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/12900E20-4B1C-4478-AC8B-BB846B05C9A2.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/14B95ED5-1913-431C-B4D6-A257928B7243.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/15DD5598-DE20-4F0E-8A6F-409CA72A5BE0.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/249F556A-1C55-45EC-B849-0D37EE633E72.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/2EF06EAB-9475-4914-BF94-340C9F35A11F.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/32EEAABB-A12C-4D60-BCB6-CD066F25941E.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/4439EED1-0FDB-4C99-B13B-90B48B642789.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/44A27480-E4EC-4094-8FF2-FC1BAD84D198.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/4AF9DADF-5447-4C91-A938-BF08D1F1955D.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/53E5CD01-9D8C-43BB-9406-14A2BEC80A67.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/74B42A95-FEB4-4760-B756-D3E077B1E203.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/77BD9D02-B809-494C-BA15-9ECD0ACFE4C8.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/8E249087-2AB6-4D4C-AA73-12DBDD24F144.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/8F1F0973-DCA1-463C-87E4-E1C1933E1350.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/9646686D-70B5-4568-8A22-BDE22B3C4C91.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/9B45A49E-4303-44FB-9936-9FBB0955BC33.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/9ED48C82-6B44-4D58-9E81-AFEC66349FAC.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/AD70D429-F849-4316-88E8-581C507E5627.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/B8EAB12B-5783-4709-AF1F-A5B4F637AE82.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/Cache.db
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/D0C09916-1E71-4C4A-A0D4-C9CA2C33A245.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/D38FBFCD-C540-4F8D-AC61-DD26E93084EC.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/D3F08F45-D06F-4897-B6F1-AFC9EE18A6C5.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/D6CDBF95-104F-4E98-8A59-6E04C58484DB.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/DACE7998-D0AC-4249-8327-D36DADDFC58D.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/EC1AF9F4-6682-496B-92D5-EC586FBF205F.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/F3D5FA67-2832-46BD-B594-E12FD3B7EB3F.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/FA686A56-B514-40EC-A6CD-AB999F9E084C.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Build/FEC87725-98ED-4417-BAAC-1D571744A174.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/2E18B82B-D8A9-487A-8577-7C47FC0D985C.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/4E62A57B-7130-4AD3-A168-874A1E770C2A.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/91805807-8B7B-4A2C-A57C-097B136576D8.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/B1FDF4E1-620A-4F15-B737-F4E020249A43.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/C64D1F20-541E-44D5-B756-FDA13E62C827.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/Cache.db
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/CB5C2345-4BCD-4170-94AA-E870CD9899D9.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/E1EF47E1-B675-4728-9F66-E7206DB61057.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Debug/EFA4932E-D48D-491B-B871-13DDFF6E4B02.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Issues/2607F10C-ECFF-4E58-A81A-C9905643D42B.xcactivitylog
/MotionAbleton/DerivedData/MotionAbleton/Logs/Issues/Cache.db
/MotionAbleton/DerivedData/MotionAbleton/TextIndex/text-index.idx
